*{
  color: rgb(10, 0, 0);
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue';
     
  


}
html,
body{
  background-color: black;
  height: 100%;
  width: 100%;
}

.head{
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
  
}


.card{
  height: 310px;
  width: 300px;
  background-color: rgb(245, 245, 245);
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.top img{
  height: 47px;
  width: 47px;
  border: 3px solid rgb(243, 240, 240);
  border-radius: 50%;
  padding: 2px;
}



.top button{
  display: flex;
  align-items: center;
  font-size: 15px;
  border: 2px solid #dddd;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 3px;
}
.centre{
  margin-top: 30px;
  
}

.centre h3{
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
}

.centre h3 span{
  font-size: 12px;
  font-weight: 400;
  color: gray;
}
.centre h3 {
  font-size: 20px;
}

.centre .tag {
  display: flex;
  gap: 20px;
  margin-top: 5px;
  
}
.tag h4 {
  font-size: 12px;
  font-weight: 300;
  background-color: grey;
   padding: 5px 8px;
   color: aliceblue;
   border-radius: 5px;
 

}


.buttom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 15px;
}

.buttom button {
  background-color: rgb(5, 5, 5);
  font-size: 15px;
  border-radius: 10px;
  color: aliceblue;
  padding: 10px;
  width: 120px;
  border: 1px solid black;
 
}

.buttom h2{
  font-weight: 100;

}

.buttom p{
  font-weight: 500;
  font-size: 14px;
  color: rgb(149, 148, 148);
}

